:root {
    /* Primary */
    --clr-primary-red: hsl(1, 90%, 64%);
    --clr-primary-blue: hsl(219, 85%, 26%);

    /* Neutral */

    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-grayish-blue-100: hsl(210, 60%, 98%);
    --clr-neutral-grayish-blue-200: hsl(211, 68%, 94%);
    --clr-neutral-grayish-blue-300: hsl(205, 33%, 90%);
    --clr-neutral-grayish-blue-400: hsl(219, 14%, 63%);
    --clr-neutral-grayish-blue-600: hsl(219, 12%, 42%);
    --clr-neutral-dark-blue: hsl(224, 21%, 14%);

    --ff-primary: 'Plus Jakarta Sans', sans-serif;
    --fs-base: 1rem;
    --fw-regular: 500;
    --fw-bold: 800;
}