:root {
    /* Primary */
    --clr-primary-red: hsl(1, 90%, 64%);
    --clr-primary-blue: hsl(219, 85%, 26%);

    /* Neutral */

    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-grayish-blue-100: hsl(210, 60%, 98%);
    --clr-neutral-grayish-blue-200: hsl(211, 68%, 94%);
    --clr-neutral-grayish-blue-300: hsl(205, 33%, 90%);
    --clr-neutral-grayish-blue-400: hsl(219, 14%, 63%);
    --clr-neutral-grayish-blue-600: hsl(219, 12%, 42%);
    --clr-neutral-dark-blue: hsl(224, 21%, 14%);

    --ff-primary: 'Plus Jakarta Sans', sans-serif;
    --fs-base: 1rem;
    --fw-regular: 500;
    --fw-bold: 800;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: var(--clr-neutral-grayish-blue-100);
    color: var(--clr-neutral-grayish-blue-600);
    font-family: var(--ff-primary);
    font-size: var(--fs-base);
    padding: 1.2rem 1rem;
}

.title-wrapper {
    margin-bottom: 1.5rem;
}

.notifications-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: var(--clr-neutral-dark-blue);
    font-size: 1.2rem;
}

.notification-unread {
    background-color: var(--clr-primary-blue);
    color: var(--clr-neutral-white);
    padding: 0.1rem 0.65rem;
    border-radius: 6px;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.mark-read {
    font-size: 0.85rem;
}

/* Notification Section */
.notifications-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.unread {
    background-color: var(--clr-neutral-grayish-blue-200);
    border-radius: 0.5rem;
}

.unread-dot {
    display: inline-block;
    background-color: var(--clr-primary-red);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-left: 2px;
}

.notification {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
    font-size: 0.9rem;
    padding: 1rem;
    line-height: 1.2rem;
}

.profile-img {
    grid-row: 1 / -1;
    width: 2.5rem;
}

.user {
    color: var(--clr-neutral-dark-blue);
    font-weight: var(--fw-bold);
}

.duration {
    color: var(--clr-neutral-grayish-blue-400);
}

.post-title {
    font-weight: var(--fw-bold);
}

.group-title {
    color: var(--clr-primary-blue);
    font-weight: var(--fw-bold);
}

/* Private messages styling */
.private-msg {
    grid-template-rows: auto auto 1fr;
}

.message {
    border: 1px solid var(--clr-neutral-grayish-blue-300);
    border-radius: 4px;
    padding: 1rem;
    margin-top: 0.7rem;
    line-height: 1.125rem;
}

/* Picture comment */
.comment-picture {
    grid-template-columns: auto 1fr auto;
}

.embbed-img {
    grid-column: -2;
    grid-row: 1 / -1;
    width: 2.5rem;
}